/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


// Constants
#define MO(layer) &mo layer
#define LT(layer, kc) &lt layer kc
#define TO(layer) &to layer
#define TG(layer) &tog layer
#define SL(layer) &sl layer
#define SK(mod) &sk mod
#define _________ &trans
#define XXXXXXXXX &none


// Helpers
#define LLT(layer, kc) &llt layer kc


// Layers
#define _BASE 0
#define _SYM 1
#define _NAV 2
#define _NUM 3
#define _NUMPAD 4
#define _TMUX 5
#define _KB 6


// Custom keycodes 
#define SL_SYM SL(_SYM)
#define SL_NAV SL(_NAV)
#define NUM_SPC LT(_NUM, SPACE)
#define TMUX_T LLT(_TMUX, T)
#define TO_BASE TO(_BASE)
#define TO_NAV TO(_NAV)
#define TO_NPAD TO(_NUMPAD)
#define SK_SFT SK(LSHFT)
#define SCW &scw


// Homerow mods
#define HM_A &hm LCTRL A
#define HM_SEMI &hm RCTRL SEMI
#define HM_S &kp S
#define HM_L &kp L
#define HM_D &hm LALT D
#define HM_K &hm RALT K
#define HM_F &hm LGUI F
#define HM_J &hm RGUI J


// TMUX
#define TMUX_PREFIX &kp LC(B)
#define tm(behavior, name, lb, key) ( \
    behavior: name { \
        compatible = "zmk,behavior-macro"; \
        label = lb; \
        #binding-cells = <0>; \
        tapping-term-ms = <200>; \
        bindings = \
            <TMUX_PREFIX>, \
            <&kp key>; \
    })


/ { 
    combos {
        compatible = "zmk,combos";
        
        // combo_rgui {
        //     timeout-ms = <50>;
        //     key-positions = <17 18>;
        //     bindings = <&kp RGUI>;
        // };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        llt: letter_layer_taps {
            compatible = "zmk,behavior-hold-tap";
            label = "LETTER_LAYER_TAPS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        scw: shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFT_CAPS_WORD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <SK(LSHFT)>, <&kp CAPS>;
        };

        /* tnxt: tmux_next { */
        /*     compatible = "zmk,behavior-macro"; */
        /*     label = "TMUX_NEXT"; */
        /*     #binding-cells = <0>; */
        /*     tapping-term-ms = <200>; */
        /*     bindings = */
        /*         <TMUX_PREFIX>, */
        /*         <&kp N>; */
        /* } */
        tm(tnxt, tmux_next, "TMUX_NEXT" N)

        tprv: tmux_prev {
            compatible = "zmk,behavior-macro";
            label = "TMUX_PREV";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <TMUX_PREFIX>,
                <&kp P>;
        }

        tlt: tmux_lt {
            compatible = "zmk,behavior-macro";
            label = "TMUX_LT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <TMUX_PREFIX>,
                <&kp LT>;
        }

        tgt: tmux_gt {
            compatible = "zmk,behavior-macro";
            label = "TMUX_GT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <TMUX_PREFIX>,
                <&kp GT>;
        }

        tnew: tmux_new {
            compatible = "zmk,behavior-macro";
            label = "TMUX_NEW";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <TMUX_PREFIX>,
                <&kp C>;
        }

        tslct: tmux_select {
            compatible = "zmk,behavior-macro";
            label = "TMUX_SELECT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings =
                <TMUX_PREFIX>,
                <&kp LBKT>;
        }
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             &kp Q     &kp W     &kp E     &kp R     TMUX_T                                 &kp Y     &kp U     &kp I     &kp O     &kp P 
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp A     &kp S     &kp D     &kp F     &kp G                                  &kp H     &kp J     &kp K     &kp L     &kp SEMI 
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp Z     &kp X     &kp C     &kp V     &kp B                                  &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 SL_NAV        SCW                NUM_SPC       SL_SYM
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };

        sym_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             &kp ESC   &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                              &kp CARET &kp AMPS  &kp STAR  &kp UNDER XXXXXXXXX
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp TAB   &kp PLUS  &kp LPAR  &kp RPAR  &kp EQUAL                              &kp PIPE  &kp LBKT  &kp RBKT  &kp MINUS &kp RET
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp TILDE &kp GRAVE &kp SQT   &kp DQT   XXXXXXXXX                              XXXXXXXXX &kp LBRC  &kp RBRC  &kp EXCL  &kp BSLH
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 _________     TO_BASE            _________     TO_NPAD
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };
		
		nav_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             &kp ESC   XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              &kp HOME  &kp PG_DN &kp PG_UP &kp END   &kp DEL
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp LCTRL &kp LSHFT &kp LALT  &kp LGUI  &kp RET                                &kp PIPE  &kp LBKT  &kp RBKT  &kp MINUS &kp BSPC
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             TO_KB     XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              XXXXXXXXX XXXXXXXXX _________ _________ _________
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 TO_NAV        TO_BASE            _________     TO_NPAD
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };
		
		num_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                 &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                 &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             TO_KB     XXXXXXXXX &kp MINUS &kp PLUS  &kp EQUAL                              XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 _________     _________          _________     _________
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };
		
		numpad_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             &kp LCTRL &kp LSHFT &kp LALT  &kp LGUI  XXXXXXXXX                              &kp DEL   &kp N7    &kp N8    &kp N9    &kp BSPC
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             &kp RET   XXXXXXXXX &kp MINUS &kp PLUS  XXXXXXXXX                              &kp EQUAL &kp N4    &kp N5    &kp N6    &kp N0
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             TO_KB     XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              &kp STAR  &kp N1    &kp N2    &kp N3    _________
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 _________     TO_BASE            _________     XXXXXXXXX
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };

        // TODO: finish the remaining layers
		tmux_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX _________                              &tprv     &tlt      &tgt      &tnxt     XXXXXXXXX
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              &tnew     &tslct    XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 XXXXXXXXX     XXXXXXXXX          XXXXXXXXX     XXXXXXXXX
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };

		kb_layer { bindings = <
          //┌─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┐
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //├─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┤
             XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX                              XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX XXXXXXXXX
          //└─────────┴─────────┴─────────┴─────┬───┴─────┬───┼─────────┐        ┌─────────┼───┬─────┴───┬─────┴─────────┴─────────┴─────────┘
                                                 XXXXXXXXX     TO_BASE            XXXXXXXXX     XXXXXXXXX
          //                                    └─────────┘   └─────────┘        └─────────┘   └─────────┘
        >; };
	};
};
